html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden; /* scroll bar yok */
  touch-action: none; /* iPad'de sayfa kaydırma yerine canvas'a öncelik */
}

canvas {
  display: block;
  margin: 0 auto;
}
