html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* scroll yok */
  background: #000;
  touch-action: none; /* iOS’ta kaydırma / zoom engelle */
}

/* p5 canvas */
canvas {
  display: block;
  margin: 0;
  padding: 0;
}
